.calendar{
    margin: 35px 0 20px;
    &__row{
        overflow: hidden;
        //display: flex;
    }
    &__days{
        display: flex;
        position: relative;
        & > div{
            width: 30px;
            height: 30px;
            line-height: 31px;
            text-align: center;
            font-size: 0.9rem;
            &:nth-child(7n), &:nth-child(7n - 1){
                font-weight: bold;
            }
        }
    }
    &__day{
        &--withSpectacle{
            background: $grey;
            cursor: pointer;
            transition: .3s;
            &:hover{
                background: $red;
            }
        }
        &--active{
            background: $red;
        }
    }
    &__monthName{
        font-weight: 700;
        text-transform: uppercase;
        font-size: .9rem;
        line-height: 31px;
        float: left;
        padding-right: 10px;
    }
}
