.filterBox {
	position: relative;
	z-index: 3;
	clear: both;
	font-size: 0;
    margin-top: 25px;
	&__form {
		display: flex;
		justify-content: space-between;
        align-items: flex-end;
	}
	&__collapsible {
		width: 235px;
		position: relative;
		z-index: 2;
		display: inline-block;
		&--collapsed {
			.filterBox__list--voivodships {
				display: none;
			}
			.filterBox__trigger:after {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	&__trigger {
		position: relative;
		height: 40px;
		width: 235px;
		display: block;
		cursor: pointer;
		&:after {
			content: "";
			background-image: url('../img/arrow.svg');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			width: 20px;
			height: 20px;
			display: inline-block;
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%) rotateZ(90deg) rotateY(180deg);
			transition: 0.2s;
            pointer-events: none;
		}
	}
	&__city {
		width: 100%;
		height: 100%;
		cursor: pointer;
		display: block;
        padding: 0 15px;
		&-input {
			cursor: pointer;
			border: none;
			background: $grey;
			color: #000;
			line-height: 40px;
			width: 100%;
			height: 100%;
			outline: none;
			font-size: 0.9rem;
			padding: 0 15px;
			box-sizing: border-box;
			&::-webkit-input-placeholder {
				color: #000;
				font-size: 0.9rem;
			}
			&::-moz-placeholder {
				color: #000;
				font-size: 0.9rem;
			}
			&:-ms-input-placeholder {
				color: #000;
				font-size: 0.9rem;
			}
			&:-moz-placeholder {
				color: #000;
				font-size: 0.9rem;
			}
		}
	}
	&__list {
		border: 2px solid #000;
		list-style-type: none;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		background: #fff;
		cursor: pointer;
		&-item {
			line-height: 35px;
			padding: 0 15px;
			transition: 0.3s;
			font-size: 0.9rem;
			&:hover {
				background: $grey;
			}
		}
		&--cities {
			//display: none;
			opacity: 0;
			transition: 0.2s;
			visibility: hidden;
			position: absolute;
			left: 100%;
			top: -2px;
			min-width: 235px;
			&-item {
                padding: 0;
            }
		}
		&--voivodships {
			position: absolute;
			width: 237px;
			left: 0;
			top: 38px;
			&-item {
				position: relative;
				&:after {
					content: "";
					background-image: url('../img/arrowSmall.svg');
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					width: 16px;
					height: 12px;
					display: inline-block;
					position: absolute;
					right: 5px;
					top: 50%;
					transform: translateY(-50%);
				}
				&:focus,
				&:hover {
					.filterBox__list--cities {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
	&__distance {
		height: 40px;
		width: 90px;
		border: 2px solid #000;
		font-size: 0.9rem;
		text-align: center;
		display: inline-block;
		line-height: 38px;
		box-sizing: border-box;
		position: relative;
		background: transparent;
		cursor: pointer;
		&-container {
			display: inline-block;
			overflow: hidden;
			position: relative;
			margin-right: auto;
            height: 40px;
		}
		&-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: $grey; //transparentize($grey, 0.4);
			z-index: -1;
			transition: 0.3s;
			transform: translate3d(-100%, 0, 0);
		}
        &--active {
			background: #000; //darken($grey, 3%);
			color: #fff;
		}
        &--disabled{
            border-color: $grey;
            color: $grey;
            pointer-events: none;
        }
        &--hovered {
			background: $grey;
		}
		&:hover:not(.filterBox__distance--active) {
			~ .filterBox__distance-bg {
				transform: translate3d(-50%,0,0);
			}
		}
		&--second {
			border-left: none;
			&:hover:not(.filterBox__distance--active) {
				~ .filterBox__distance-bg {
					transform: translate3d(0,0,0);
				}
			}
		}
	}
	&__query {
		height: 40px;
		width: 235px;
		background: $grey;
		font-size: 0.9rem;
		border: 0;
		outline: none;
		padding: 0 15px;
		&::-webkit-input-placeholder {
			color: #000;
			font-size: 0.9rem;
		}
		&::-moz-placeholder {
			color: #000;
			font-size: 0.9rem;
		}
		&:-ms-input-placeholder {
			color: #000;
			font-size: 0.9rem;
		}
		&:-moz-placeholder {
			color: #000;
			font-size: 0.9rem;
		}
	}
	&__age {
		display: flex;
		align-items: baseline;
		font-size: 0.9rem;
		margin-left: auto;
		& > span {
			align-self: center;
			margin: 5px 10px 0 0;
		}
		&-category {
			font-size: 0.75rem;
			width: 70px;
			text-align: center;
			input {
				&:checked {
					& + svg path {
						fill: #000 !important;
					}
				}
			}
		}
		&-person {
			cursor: pointer;
			display: block;
			margin: 0 auto;
			path {
				transition: 0.3s;
			}
			&:hover path {
				fill: $grey !important;
			}
			&--first {
				width: 34px;
				height: 34px;
			}
			&--second {
				width: 42px;
				height: 42px;
			}
			&--third {
				width: 47px;
				height: 47px;
			}
		}
	}
}
