.footer {
	&__container {
		border-top: 2px solid #000;
		padding: 40px 0;
		box-sizing: border-box;
        overflow: hidden;
	}
	&__logo {
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		float: left;
		&--ministry {
			background-image: url('../img/ministerstwo.png');
			height: 85px;
			width: 135px;
		}
		&--institute {
			background-image: url('../img/instytut.png');
			height: 96px;
			width: 250px;
            margin: -5px 0 0 50px;
		}
	}
    &__menu, &__social{
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0;
        float: right;
    }
    &__menuItem{
        display: inline-block;
        & > a {
            text-decoration: none;
			display: block;
			height: 100%;
			padding: 10px 15px;
			color: black;
			font-size: 0.9rem;
            &:hover, &:focus{
                text-decoration: underline;
            }
        }
    }
    &__socialItem{
        display: inline-block;
        & > a {
            text-decoration: none;
			display: block;
			width: 40px;
            height: 40px;
            border: 1px solid #000;
            line-height: 40px;
            text-align: center;
			color: black;
			font-size: 0.9rem;
            margin: -2px 2px;
            transition: .3s;
            &:hover, &:focus{
                background: $red;
            }
        }
    }
}
