.header {
	&__container {
		display: flex;
		justify-content: space-between;
		padding: 50px 0 0;
		box-sizing: border-box;
	}
	&__logo {
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 700;
		width: 150px;
		display: block;
		color: black;
		text-decoration: none;
		letter-spacing: 1px;
		& > span {
			transition: 0.3s;
		}
		&:focus,
		&:hover {
			& > span {
				color: $red;
			}
		}
	}
	&__menuSmall {
		display: inline-block;
		list-style-type: none;
		padding: 0;
		margin: 4px 0;
		overflow: hidden;
	}
	&__menuSmallItem {
		& > a {
			text-align: right;
			text-decoration: none;
			display: block;
			height: 100%;
			padding: 5px 0;
			color: black;
			font-size: 0.9rem;
			position: relative;
			float: right;
			&:after {
				content: "";
				width: 100%;
				height: 4px;
				background: #000;
				position: absolute;
				bottom: 0;
				left: 0;
				transform: translate3d(105%,0,0);
				transition: 0.3s;
			}
			&:focus,
			&:hover {
				&:after {
					transform: translate3d(0,0,0);
				}
			}
		}
	}
	&__menu {
		position: relative;
		overflow: hidden;
		display: inline-block;
		padding: 0;
		margin: 0;
		height: 34px;
		font-size: 0;
	}
	&__menuItem {
		box-sizing: content-box;
		display: inline-block;
		& > a {
			text-align: center;
			text-decoration: none;
			display: block;
			height: 100%;
			box-sizing: border-box;
			padding: 10px 5px;
			text-transform: uppercase;
			font-weight: 700;
			color: black;
			font-size: 0.9rem;
			&:focus {
				//text-decoration: underline;
			}
		}
		&:first-child {
			width: 118px;
			&:hover ~ .header__menuBar {
				transform: translate3d(-calc(165px + 104px + 140px + 153px),0,0);
			}
		}
		&:nth-child(2) {
			width: 153px;
			&:hover ~ .header__menuBar {
				transform: translate3d(-calc(165px + 104px + 140px),0,0);
			}
		}
		&:nth-child(3) {
			width: 140px;
			&:hover ~ .header__menuBar {
				transform: translate3d(-calc(165px + 104px),0,0);
			}
		}
		&:nth-child(4) {
			width: 104px;
			&:hover ~ .header__menuBar {
				transform: translate3d(-165px,0,0);
			}
		}
		&:nth-child(5) {
			width: 165px;
			&:hover ~ .header__menuBar {
				transform: translate3d(0,0,0);
			}
		}
	}
	&__menuBar {
		display: block;
		position: absolute;
		bottom: 0;
		height: 5px;
		width: 160px;
		background-color: black;
		transition: all 0.2s linear;
		right: 0;
		transform: translate3d(100%,0,0);
		pointer-events: none;
	}
}
