.tiles {
    overflow: hidden;
    margin: 0 -14px;
	.tile {
		float: left;
		margin: 14px;
	}
	&--three {
		.tile:nth-child(3n + 1) {
			clear: left;
		}
	}
}
.tile {
	width: 380px;
	height: 280px;
	position: relative;
	overflow: hidden;
	display: block;
	color: black;
	text-decoration: none;
	&--spectacle {
		border: 1px solid $grey;
		&:focus,
		&:hover {
			.tile__overlay {
				background-color: $red;
				transform: translate3d(0, -100%, 0);
				padding: 5px 30% 0 0;
				box-sizing: border-box;
			}
            .tile__description{
                width: calc(130% + 15px);
            }
			.tile__heading {
				background-color: $red;
				box-shadow: 10px 0 0 $red, -10px 0 0 $red;
			}
			.tile__author {
				background-color: $red;
			}
		}
	}
	&--article {
		// border-bottom: 5px solid black;
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		transition: $tileAnimation;
		&:after {
			content: "";
			width: 100%;
			position: absolute;
			height: 5px;
			background: $red;
			display: block;
			bottom: 0;
			z-index: 2;
			transition: transform 0.4s;
			transform: translate3d(-100%,0,0);
		}
		&:focus,
		&:hover {
			&:after {
				transform: translate3d(0,0,0);
			}
			.tile__arrow {
				opacity: 1;
				transform: translate3d(0,-50%,0);
			}
		}
		.tile__heading {
			padding-right: 30%;
			display: block;
			width: 100%;
			box-sizing: border-box;
		}
	}
	&__arrow {
		background-image: url('../img/arrow.svg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 25px;
		height: 25px;
		align-self: flex-end;
		margin-right: 10px;
		transform: translate3d(-10px,-50%,0);
		transition: 0.4s;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 45%;
	}
	&__name {
		margin: 0;
		font-size: 0.8125rem;
		padding: 1px 10px 7px;
	}
	&__description {
		margin: 20px 0 0;
		font-size: 0.8125rem;
		padding: 1px 10px 7px;
		&--border {
			padding: 1px 10px 17px;
			border-bottom: 5px solid black;
		}
	}
	&__photo {
		background-image: url('../img/tile.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}
	&__topInfo {
		position: absolute;
		top: 0;
		left: 0;
		background: white;
		font-size: 0.75rem;
		padding: 8px 15px 7px 8px;
	}
	&__bottomInfo {
		position: absolute;
		bottom: 0;
		left: 0;
		border-left: 1px solid $grey;
	}
	&__heading {
		font-size: 0.9rem; //0.8125rem;
		background: white;
		margin: 0;
		display: inline;
		line-height: 25px;
		display: inline;
		box-shadow: 10px 0 0 white, -10px 0 0 white;
		padding: 5px 0 7px;
		position: relative;
		left: 10px;
		top: 1px;
		transition: $tileAnimation;
		&:after {
			content: "";
			display: block;
		}
	}
	&__author {
		background: white;
		margin: 0;
		font-size: 0.8125rem;
		display: inline-block;
		padding: 1px 10px 7px;
		//border-bottom: 1px solid $grey;
		transition: $tileAnimation;
		&:after {
			content: "";
			display: block;
		}
	}
	&__overlay {
		position: absolute;
		transition: $tileAnimation;
		z-index: 2;
		background-color: transparent;
		width: 100%;
		height: 100%;
		transform: translate3d(0, -52px, 0);
		border-bottom: 5px solid black;
        box-sizing: border-box;
        padding: 0 30% 0 0;
	}
}
