@font-face {
	font-family: 'montserrat';
	src: url('../font/montserrat-bold-webfont.eot');
	src: url('../font/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../font/montserrat-bold-webfont.woff') format('woff'), url('../font/montserrat-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'montserrat';
	src: url('../font/montserrat-light-webfont.eot');
	src: url('../font/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/montserrat-light-webfont.woff') format('woff'), url('../font/montserrat-light-webfont.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: '../font/montserrat';
	src: url('../font/montserrat-regular-webfont.eot');
	src: url('../font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/montserrat-regular-webfont.woff') format('woff'), url('../font/montserrat-regular-webfont.ttf') format('truetype');
	font-weight: 400;
	font-weight: normal;
	font-style: normal;
}

html {
	font-size: 16px;
	font-family: montserrat;
}
body {
	margin: 0;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.text {
	font-size: 1rem;
	font-family: montserrat;
	line-height: 1.3rem;
}
a,
button {
	outline: none; // potencjalnie złe
}
@import "variables";
@import "normalize";
@import "blocks/tiles";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/filterBox";
@import "blocks/calendar";
